* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-flow: dense;
  margin: 60px auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightskyblue;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding: 1em;
}